	<form action= "/film" method="Post">
		<label> Your favorite film:</label>
		<input type="text" name="favorite_film" placeholder="Insert favorite film here">
		<br>

		<label>Your least favorite film</label>
		<input type="text" name="least_favorite_film" placeholder="Insert your least favorite film here">
		<button type="submit">Submit me!</button>
	</form>


