<h1>Search for movies by Titles containing a particular word</h1>
<form action= "/guess" method="Post">
	<label>search</label>
	<br>
	<input type="text" name="content" placeholder="word">
	<button type="submit">search</button>
</form>