<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>

	<body>

	<h1>Which movie was released in 2004?</h1>
	<% count = "1" %>
	<div class="posters_div">
		<% @posters_array.each do |url| %>
			<% id = "poster" + count %>
			<% button_id = "select" + count %>
			<img src="<%=url%>" id="<%=id%>" class="posters">
			<form action= "/checkanswer" method="Post">
				<button type="submit" name="<%button_id%>">select</button>
			</form>
			<% count = count.to_i + 1 %>
			<% count = count.to_s %>
		<%end%>
	</div>
	</body>
</html>