<h1>New Tasks</h1>
<form action= "/list" method="Post">
	<label>Add new task here to your to do list here:</label>
	<br>
	<input type="text" name="content" placeholder="task">
	<button type="submit">Add Task</button>
	<button type="submit">Update List</button>
</form>