	<form action= "/login" method="Post">
		<label> Username</label>
		<input type="text" name="Username" placeholder="username" value="user">
		<br>

		<label>Password</label>
		<input type="text" name="password" placeholder="password" value="pass">
		<button type="submit">Login</button>
	</form>