

<div class="row">
	<% 8.times do |i| %>
		<% if (i%2 == 0) %>
			<div class="col-sm-1 column <%= 'column' + i.to_s %> row-even-column-odd ">
			</div>
		<% else %>
			<div class="col-sm-1 column <%= 'column' + i.to_s %> row-even-column-even ">
			</div>
		<% end %>
		<% i = i + 1 %>
	<% end %>
</div>