body {
	background-color: orange;
}

.check_body {
	background-color: yellow;
}

.posters_div {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    vertical-align: middle
}
.posters {
	width: 250px;
	height: 305px;
	float: left;
}
.select {
	float: left;
}

/*.posters_div {
	
}*/