<!Doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<body>	
		<div class="row first_row">
			<div class="col-sm-2">
				<img src="google.png" class="logo">
				</img>
			</div>
			<div class="col-lg-6">
				<div class="input-group input1">
			  		<input type="text" class="form-control">
			  		<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle caret_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
							<span class="caret">
							</span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div><!-- /btn-group -->
	
		  			<span class="input-group-btn">
		    			<button class="btn btn-default search_button" type="button">
		    				<span class="glyphicon glyphicon-search search_icon" aria-hidden="true">
		    				</span>
		    			</button>
		  			</span>
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->

			<div class="col-sm-4">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-2">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle top_row_right_buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
							<span>
								+ Eddie
							</span>
						</button>
					</div><!-- /btn-group -->
				</div>
				<div class="col-sm-2">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle top_row_right_buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
							<span class="glyphicon glyphicon-th">
							</span>
						</button>
					</div><!-- /btn-group -->
				</div>
				<div class="col-sm-2">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle top_row_right_buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
							<span class="glyphicon glyphicon-bell">
							</span>
						</button>
					</div><!-- /btn-group -->
				</div>
				<div class="col-sm-2">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle top_row_right_buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
							<span class="caret">
							</span>
						</button>
					</div><!-- /btn-group -->
				</div>
				<div class="col-sm-2">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle top_row_right_buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
							<span class="caret">
							</span>
						</button>
					</div><!-- /btn-group -->
				</div>
			</div>

		</div><!-- /.row -->
		<div class="row2">
			<div class="row">
				<div class="col-sm-1">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle gmail_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
							<span>Gmail
							</span>
							<span class="caret">
							</span>
						</button>
					</div>
				</div>
				<div class="col-sm-1">
				<div>
				<div class="col-sm-1">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle square_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
							<span class="square">
							</span>
							<!-- <span class="caret">
							</span> -->
						</button>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle square_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
							<span class="square">
							</span>
							<!-- <span class="caret">
							</span> -->
						</button>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle square_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
							<span>More</span>
							<span class="glyphicon glyphicon-triangle-bottom more_icon">
							</span>
							<!-- <span class="caret">
							</span> -->
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="border_row">
			</div>
		</div>
	</body>	
</html>