<!Doctype html>
<html>
	<div>
		<h1>Article about some stuff</h1>
		<p> this is the content of the article </p>

		<form action= "/article_and_comments" method="Post">
			
			<br>
			<input type="text" name="username" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<label> remember my credentials </label>
			<input type="checkbox" name="checkbox"> 
			<button type="submit">login</button>
		</form>
</html>