<!Doctype html>
<html>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles3.css">
	<div>
		<h1>Article about some stuff</h1>
		<h2>subtitle</h2>
		<h3>June 29, 2015</h3>
		<h4>By Eddie Rendleman</h4>
		<a href="http://www.google.com">my twitter account</a>
		<ul class="list-unstyled">
			<li> list item 1 </li>
			<li> list item 2 </li>
			<li> list item 3 </li>
		</ul>
		<p> this is the content of the article.  more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content
			<table class="table">
			    <thead>
			      <tr>
			        <th>Firstname</th>
			        <th>Lastname</th>
			        <th>Email</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>John</td>
			        <td>Doe</td>
			        <td>john@example.com</td>
			      </tr>
			      <tr>
			        <td>Mary</td>
			        <td>Moe</td>
			        <td>mary@example.com</td>
			      </tr>
			      <tr>
			        <td>July</td>
			        <td>Dooley</td>
			        <td>july@example.com</td>
			      </tr>
			    </tbody>
			</table>
		</p>
	</div>
	<div class="container">
		<form action= "/article_and_comments" method="Post">
			<br>
			<label class="col-md-4">email:</label>
			<input type="email" name="email" placeholder="email">
			<label class="col-md-4"> add comments </label>
			<input type="text" name="comments" id="comment_box" style="width: 200px; height: 100px; position: relative; top: 40px">
			<button type="submit">post</button>
			<label class="col-md-4">Don't have an account?  Please register</label>
			<input type="text" name="register">
			<button type="submit">register<button>
		</form>
	</div>
	<img src="nic.jpeg" class="img-circle">
</html>