<!Doctype html>
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles2.css">
	</head>
	<body>
		<div class="container">
			<div class="row col-md-12 title">
				<h1> This is the title of my article</h1>
			</div>
			<div class="col-md-8">
				<p class="content lead text-uppercase"> Sometimes it is not the text that needs to be centered, but the block as a whole. Or, phrased differently: we want the left and right margin to be equal. The way to do that is to set the margins to 'auto'. This is normally used with a block of fixed width, because if the block itself is flexible, it will simply take up all the available width. Here is an example:
					Sometimes it is not the text that needs to be centered, but the block as a whole. Or, phrased differently: we want the left and right margin to be equal. The way to do that is to set the margins to 'auto'. This is normally used with a block of fixed width, because if the block itself is flexible, it will simply take up all the available width. Here is an example:
				</p>
			</div>
			<div class="col-md-4">
				<form action= "/login" method="Post">
					<label>login</label>
					<br>
					<input type="text" name="username" placeholder="username">
					<input type="password" name="password" placeholder="password">
					<label> remember my credentials </label>
					<input type="checkbox" name="checkbox"> 
					<button type="submit">login</button>
				</form>
			</div>
		</div>
	</body>
</html>