<!Doctype html>
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<div>
		<ul class="nav list-unstyled list-inline">
			<li class="left">Home</li>
			<li class="middle">About</li>
			<li class="right">Blog</li>
		</ul>
	</div>
	<div class"paragraph">
		<p> this is the content of the article.  more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content more content</p>
	</div>
</html>