<!Doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles_twitter.css">
	</head>
	<body>
		<% 9.times do %>
			<div class="container">
				<div class="row main_div">
					<h1>Twitter #Music<h1>
					<p> jsdkfdnsjkgfndsjkgnfjkngjkfdngjkfngjfndjgnfjkg jsdkfdnsjkgfndsjkgnfjkngjkfdngjkfngjfndjgnfjkg
						jsdkfdnsjkgfndsjkgnfjkngjkfdngjkfngjfndjgnfjkg
						jsdkfdnsjkgfndsjkgnfjkngjkfdngjkfngjfndjgnfjkg
						jsdkfdnsjkgfndsjkgnfjkngjkfdngjkfngjfndjgnfjkg
						jsdkfdnsjkgfndsjkgnfjkngjkfdngjkfngjfndjgnfjkg
						jsdkfdnsjkgfndsjkgnfjkngjkfdngjkfngjfndjgnfjkg
						jsdkfdnsjkgfndsjkgnfjkngjkfdngjkfngjfndjgnfjkg
						jsdkfdnsjkgfndsjkgnfjkngjkfdngjkfngjfndjgnfjkg
						jsdkfdnsjkgfndsjkgnfjkngjkfdngjkfngjfndjgnfjkg
					</p>
				</div>
				<div class="button-div">
					<button class="good">GOOD</button>
					<button class="bad">BAD</button>
				</div>
			</div>
		<%end%>
	</body>
</html>