<!Doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="whale_redo.css">
	</head>
	<body>
		<div class="container main-div col-sm-6">
			<div class=" col-sm-12 whale-container">
				<div class="row">
					<span><img src="whale.jpeg" class="img-circle whale-img" id="whale">Whale posted a new bounty!</span>
				</div class="row">
			</div>
			<div class=" col-sm-12 inner-div-container">
				<div class="panel inner-div">
					<div class="panel-heading bounty">
						<img src="tube.jpeg" id="tube">
							Bounty
						<span class="color1">
							#96
						</span> 
							on
						<span class="color1">Helpful
						</span>
					</div>
					<div class=" col-sm-12">
						<div class="row gap">
						</div>
					</div>
					<div class="panel-body text1">
						<div class=" col-sm-8">
							<div class="row">
								<div class=" col-sm-4">
									<div class=" col-sm-6">
										<span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
									</div>
									<div class=" col-sm-6">
										<span>3,444</span>
									</div>
								</div>
								<div class=" col-sm-8">
									<button class="box btn btn-default col-sm-4" id="now">Now</button>
									<button class="box btn btn-default col-sm-4" id="html">html</button>
									<button class="box btn btn-default col-sm-4" id="css">CSS</button>
								</div>
								<div class=" col-sm-8">
								</div>
							</div>
						</div>
						<div class=" col-sm-12">
							<div class="row">
								Make the category list a dropdown so it doesn't break the layout
							</div>
						</div>
						<div class=" col-sm-6">
							<div class="row">
								<img src="circle.png" class="circle" id="circle">
								<button class="btn btn-default" id="comments">Comments</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>