<!Doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="whale.css">
	</head>
	<body>
		<div class="container main-div col-md-6 col-lg-6">
			<div class="row whale-div">
				<span><img src="whale.jpeg" class="img-circle" id="whale">Whale posted a new bounty!</span>
			</div class="row">
			<div class="panel inner-div">
				<div class="panel-heading col-md-12">
					<img src="tube.jpeg" id="tube">
						Bounty
					<span class="color1">
						#96
					</span> 
						on
					<span class="color1">Helpful
					</span>
				</div>
				<div class="panel-body col-md-12 col-lg-12">
					<div class="row boxes col-md-8 col-lg-8">
						<div class="col-md-6 col-lg-6">
							<span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
							<div class="count"><span>3,444</span></div>
						</div>
						<div class="html-buttons">
							<button class="box btn btn-default col-md-3 col-lg-2" id="now">Now</button>
							<button class="box btn btn-default col-md-3 col-lg-2" id="html">html</button>
							<button class="box btn btn-default col-md-3 col-lg-2" id="css">CSS</button>
						</div>
					</div>
					<div>
						<span class="row col-md-12 col-lg-12" id="category">Make the category list a dropdown so it doesn't break the layout</span>
					</div>
					<div class="row col-md-8 col-lg-8">
						<img src="circle.png" class="circle" id="circle">
						<button class="btn btn-default" id="comments">Comments</button>
					</div>
				</div>
			</div>
		</div>






		<div class="container main-div col-md-6 col-lg-6">
			<div class="row whale-div">
				<span><img src="whale.jpeg" class="img-circle" id="whale">Whale posted a new bounty!</span>
			</div class="row">
			<div class="panel inner-div">
				<div class="panel-heading col-md-12">
					<img src="tube.jpeg" id="tube">
						Bounty
					<span class="color1">
						#96
					</span> 
						on
					<span class="color1">Helpful
					</span>
				</div>
				<div class="panel-body col-md-12 col-lg-12">
					<div class="row boxes col-md-8 col-lg-8">
						<div class="col-md-6 col-lg-6">
							<span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
							<div class="count"><span>3,444</span></div>
						</div>
						<button class="box btn btn-default col-md-3 col-lg-2" id="now">Now</button>
						<button class="box btn btn-default col-md-3 col-lg-2" id="html">html</button>
						<button class="box btn btn-default col-md-3 col-lg-2" id="css">CSS</button>
					</div>
					<div class="row">
						<span class="row col-md-12 col-lg-12" id="category">Make the category list a dropdown so it doesn't break the layout</span>
					</div>
					<div class="row panel col-md-12 col-lg-12">
						<div class="row panel-heading">
							Joel, Medietors, and 112 others like this
						</div>
						<div class="row panel-body">
							<%3.times do %>
								<div class="row">
									<img src="gray.png" class="img-circle circle2"></img><span>dkjdkjgfjgfjgfjkgfjkngfjkgnfjkdngjkfdg</span>
								</div>
							<%end%>
							<div class="row">
								<img src="gray.png" class="img-circle circle2"></img>
								<span>Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys Hi guys
								</span>
								<div class"row col-md-8 col-lg-8" id="comments2">
								</div>
							</div>
							<div class="row col-md-8 col-lg-8">
								<img src="circle.png" class="circle" id="circle">
								<button class="btn btn-default" id="comments">Comments</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>